<%= form_for @user, url: signup_path, method: :post do |f| %>
  <form>
    <div class="form-group">
      <%= f.text_field :name, class: "form-control",placeholder: t("name")  %>
    </div>
    <div class="form-group">
      <%= f.text_field :email, class: "form-control",placeholder: t("email")  %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, class: "form-control",placeholder: t("password") %>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation, class: "form-control",placeholder: t("confirmation") %>
    </div>
    <div class="form-group">
      <%= f.date_field :birthday, class: "form-control",placeholder: t("birthday")  %>
    </div>
    <div class="form-group">
      <%= f.text_field :address, class: "form-control",placeholder: t("address") %>
    </div>
    <div class="form-group">
      <%= f.text_field :id_card, class: "form-control",placeholder: t("id_card")  %>
    </div>
    <%= f.submit yield(:button_text), class: "btn btn-warning float-right login_btn" %>
  </form>
<% end %>
